name: CI Assignment 6

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
    paths:
      - "packages/assignment-6/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Read .nvmrc
        id: node_version
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.node_version.outputs.NODE_VERSION }}

      - name: Install dependencies
        run: pnpm install

      - name: Build application
        run: pnpm -F assignment-6 build

      - name: Post build failure comment
        if: failure()
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.TOKEN_FOR_CI }}
          script: |
            const { context, getOctokit } = require('@actions/github');
            const github = getOctokit(process.env.GITHUB_TOKEN);

            const issue_number = context.payload.pull_request.number;
            const baseRepoFullName = context.payload.pull_request.base.repo.full_name.split('/');
            const baseOwner = baseRepoFullName[0];
            const baseRepo = baseRepoFullName[1];

            const message = `
            ## Build Failure :x:
            The build for this PR has failed. Please check the logs for more details.
            `;

            // PR이 포크된 저장소에서 제출된 경우만 원본 저장소에 코멘트를 남김
            if (context.repo.owner !== baseOwner) {
              await github.rest.issues.createComment({
                owner: baseOwner,
                repo: baseRepo,
                issue_number,
                body: message,
              });
            }

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: job2 구현
        run: echo "job2의 내용을 구현해주세요"

  test:
    runs-on: ubuntu-latest
    steps:
      - name: job3 구현
        run: echo "job3의 내용을 구현해주세요"

  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: job4 구현
        run: echo "job4의 내용을 구현해주세요"

  assign_reviewer:
    runs-on: ubuntu-latest
    steps:
      - name: job5 구현
        run: echo "job5의 내용을 구현해주세요"
